$primary: #A68160; 
$white: #F3F3F3;
$dark:  #1E1E1E;

$font-family-base: 'Montserrat Variable', 'Montserrat', sans-serif;
$headings-font-family: 'Playfair Display Variable', 'Playfair Display', serif;

@import "bootstrap/scss/bootstrap";

.shadow-white {
    box-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.15) !important;
}